


.carousel { 
    position: relative; 
    width: 270px; 
    height: 160px; 
    overflow: hidden; 
    background-color: #cdcdcd; 
} 

.carousel-item .slide-image { 
    width: 270px; 
    height: 160px; 
    background-size: cover; 
    background-repeat: no-repeat; 
} 

.carousel-item { 
    position: absolute; 
    width: 100%; 
    height: 270px; 
    border: none; 
    top: 0; 
    left: 100%; 
} 

.carousel-item.active { 
    left: 0; 
    transition: all 0.3s ease-out; 
} 

.carousel-item div { 
    height: 100%; 
} 

.dark-mode {
    background-color: #333333; /* Dark background color */
    color: #ffffff; /* Dark text color */
    /* Add other dark mode styles */
}

#pic {
  background:#FF6103;
  width:100%;
  height:450px;
  border:1px solid white;
  margin:0 auto;
  position:relative;
  overflow:hidden;
}

#vid {
  width:100%;
  height:450px;
  margin:0 auto;
  position:relative;
  overflow:hidden;
}


/* =========  CSS3  ==================   */

.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
    }
.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(http://placekitten.com/240/240);
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon-in2:hover {
    background-image: url(http://placekitten.com/241/241);
    }

.hexagon1 {
    width: 400px;
    height: 200px;
    margin: 0 0 0 -80px;
    }
.hexagon2 {
    width: 200px;
    height: 400px;
    margin: -80px 0 0 20px;
    }
.dodecagon {
    width: 200px;
    height: 200px;
    margin: -80px 0 0 20px;
    }
